
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Ha ocurrido un error y no se ha podido completar la operación</h1>
        @Html.ActionLink("Volver al Inicio", "Index", "Home")
    </div>
</body>
</html>
