@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP 7 - MVC .Net</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Transportistas</h2>
        <p>Listado de Transportistas</p>
        <p><a class="btn btn-default" href="~/Shippers/">Acceder al listado &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Proveeodres</h2>
        <p>Listado de Proveeodres</p>
        <p><a class="btn btn-default" href="~/Suppliers/">Acceder al listado &raquo;</a></p>
    </div>
</div>