<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
    <header>
      <div>
        <h3 class="float-md-start mb-0">Listado de Proveedores</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </nav>
      </div>
    </header>
    <body>
      <main class="px-3">
        <div class="container">
          <div class="col">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre de la Empresa</th>
                  <th scope="col">Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of shippersList">
                  <th scope="row">{{s.ShipperID}}</th>
                  <td>{{s.CompanyName}}</td>
                  <td>{{s.Phone}}</td>
                  <td><button type="button" (click)="openEdit(modalEdit,s)"> Editar </button></td>
                  <td><button type="button" (click)="removeShipper(s.ShipperID)">Borrar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark" (click)="openAdd(modalAdd)"> Agregar Nuevo</button>
          </div>
        </div>
      </main>
    </body>
  </div>
</div>

<ng-template #modalEdit let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Editar Proveedor</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <app-shipper-edit (save)="getAllShippers();modal.close();" [shipper]="shipper"></app-shipper-edit>
  </div>
</ng-template>

<ng-template #modalAdd let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Agregar Proveedor</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <app-shipper-add (save)="getAllShippers();modal.close();"></app-shipper-add>
  </div>
</ng-template>

