@model List<TP4.Entities.Shippers>

@{
    ViewBag.Title = "Shippers Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shippers Page</title>
</head>
<body>
    <div>
        <h1>Transportistas</h1>
        <table>
            <tr>
                <td>Id</td>
                <td>Nombre de la empresa</td>
                <td>Telefono</td>
            </tr>
            @foreach (var shipper in Model)
            {
                <tr>
                    <td>@shipper.ShipperID</td>
                    <td>@shipper.CompanyName</td>
                    <td>@shipper.Phone</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
